{% extends 'base/base.html' %}

{% block content %}
<div class="container mx-auto p-6">
  <h1 class="text-2xl font-semibold mb-4">Asignar Jefe a {{ employee.first_name }} {{ employee.paternal_surname }}</h1>

  <form method="POST">
    {% csrf_token %}
    <label for="parent_id" class="block text-gray-700 mb-2">Seleccionar Jefe:</label>
    <select name="parent_id" id="parent_id" class="w-full p-2 border rounded-lg mb-4">
      <option value="">-- Ninguno --</option>
      {% for emp in employees %}
      <option value="{{ emp.id }}">{{ emp.first_name }} {{ emp.paternal_surname }} - {{ emp.position }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Asignar Jefe</button>
  </form>
</div>
{% endblock %}
