{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Detalles de la Solicitud{% endblock %}
{% block page_title %}Detalles de la Solicitud{% endblock %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">

  <!-- ***** Columna Izquierda: Información de la Solicitud (30%) ***** -->
  {% include 'solicitations/partials/_solicitation_column_1.html' %}

    <!-- ***** Columna Derecha: Formulario Específico según el Tipo de Solicitud ***** -->
    {% include 'solicitations/partials/_solicitation_column_2.html' %}

</div> <!-- Fin Grid -->
{% endblock content %}
